body {
	margin: 2em;
}

#menuBarDropdownContainer{ 
	border: none;
}

#YextIndicator{
	margin-top: 10px;
	text-align: center;
}

#commitID{
	white-space: nowrap;
	overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;   
}

#chart{
	float:left;
	width: 100%;
	height:400px;
}

/*#menuBar{
	margin-left: auto;
	margin-right: auto;
}*/
